# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=anonymous:anonymous-startup

NEXT_PUBLIC_CONVEX_URL=http://127.0.0.1:3210

NEXT_PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZGVsaWNhdGUtaHllbmEtMzEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_HSe1m6d1CCUpfAiMIJ1KLskff1fB3v7KIB7QaVPp1Q