<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CONVEX_DEPLOYMENT_URL</key>
	<string>http://127.0.0.1:3210</string>
	<key>CLERK_PUBLISHABLE_KEY</key>
	<string>pk_test_REPLACE_WITH_KEY_FROM_opus-mk_env</string>
	<key>OPUS_MK_BASE_URL</key>
	<string>http://127.0.0.1:3001</string>
</dict>
</plist>
